body.dark {
    background-color: #383838;
    color: #fff;
    outline: 2px solid #383838;
}


body.dark .background {
    background-color: #383838;
}

body.dark label input:focus, body.dark label textarea:focus {
    outline: 2px solid #383838;
}

body.dark p, body.dark h1, body.dark h2, body.dark a, body.dark label, body.dark input::placeholder, body.dark textarea::placeholder {
    color: #fff;
}

body.dark form label input, body.dark textarea {
    background-color: #383838;
}

body.dark .problem-not-found .custom-checkbox label {
    color: #fff;
}

body.dark .data .statement {
    color: #fff;
}

body.dark footer {
    background-color: #383838;
}

body.dark .Notunderstand, body.dark .violent, body.dark .technologies, body.dark .adaptation {
    background-color: #383838;
}



body.dark form label {
    color: #fff;
}

body.dark form input {
   color: #fff;
}

body.dark .eye, body.dark .eyef {
    background-image: url(../images/whiteeye.svg);
    background-color: #383838;
}


body.dark .settings span {
    color: #383838;
}